<h1>Editar Raças</h1>

<form method="post" action="/raca/editar">
    <label for="campo-nome">Nome</label>
    <input type="text" id="campo-nome" name="nome" />
    <label for="campo-especie">Espécie</label>
    <select id="campo-especie" name="especie">
        <option value="Cachorro">Cachorro</option>
        <option value="Gato">Gato</option>
    </select>
</form>
