<h1>Lista de Raças</h1>

<div>
    <a href="raca/cadastrar">Cadastrar</a>
</div>

<table>
    <thead>
        <!-- Cabeçalho da tabela-->
        <tr>
            <!-- Linha da tabela-->
            <th>Código</th><!-- Coluna específica do cabeçalho-->
            <th>Nome</th>
            <th>Espécie</th>
        </tr>
    </thead>
    <tbody>
        <!-- Lugar dos registros da tabela-->
        @foreach(var raca in ViewBag.Racas)
        {
            <tr>
                <!-- Linha -->
                <td>@raca.Id</td> <!-- Coluna específica para body-->
                <td>@raca.Nome</td>
                <td>@raca.Especie</td>
            </tr>
        }  
        
    </tbody>
</table>